.container{
      height:700px;
      width:500px;
      background-color: red;
      display:grid;
      grid-template-rows: 130px 130px 130px; /* three rows of 130px each*/
      grid-template-columns: 130px 130px 130px; /* three columns of 130px each*/
      row-gap: 50px; /*gap between rows*/
      column-gap:50px; /*gap between rows*/
      justify-items: center;
      place-items: center center;
    }
    .items{
      height:70px;
      width:70px;
      background-color: black;
      margin:10px;
    }
    #i1{
      grid-column-start: 1; /*starting column line*/
      grid-column-end: 3; /*ending column line*/
    }
    #i3{
      justify-self: end;  /* for horizontal alignmnet*/
      align-self: center;  /* for verticle alignmnet*/
    }
    #i5{
      justify-self: end;
      align-self: center;
    }
    #i4{
      grid-column-start: 2;
      grid-column-end: 4;
      justify-self:end;
    }
